<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinner</title>
</head>
<body>
    <h1>My Favorite Dinners</h1>
    <ul>
        <li><a href="dinner/baked-salmon">Baked Salmon</a></li>
        <li><a href="dinner/steak-fajitas">Steak Fajitas</a></li>
    </ul>
</body>
</html>